<div class="jumbotron">
    <h1>Welcome to <span class="concord">Concord</span>!</h1>
    <p> Concord is a place for people to organize meetings.
    </p>
    <a href="/add/group/" class="btn btn-lg btn-success">Create A Group</a>
</div>
<div class="container">
    <div class="col-md-4 col-md-offset-4">
    <h4 class="underline">Under Construction</h3>
    <p>The site is not currently in a usable state, but is expected to become available for use within the next few months. Concord is a project I work on in my free time and thus may take some time to finish.
    </p>
    </div>
</div>
<div class="container">
    <div class="col-md-4">
    <h4 class="underline">Discord Integration</h3>
    <p>Login using discord for convenience, including locking group members to those who have access to your server. There is also an optional bot which will announce when a meeting is posted and provide the basic information in the designated discord channel.
    </p>
    </div>
    <div class="col-md-4">
    <h4 class="underline">Groups</h3>
    <p>Organize groups of people who need to schedule meetups. Designed for gaming, but expandable to many applications. Use Concord to schedule your Dungeon and Dragons meetups, game training sessions, or team meetups.
    </p>
    </div>
    <div class="col-md-4">
    <h4 class="underline">In Development</h3>
    <p>Concord is open to feature requests (link to come). If your group has a specific need it may be added to the website provided we think it would be useful to a broader audience as well.
    </p>

    </div>
</div>
