<div class="panel panel-default list-item">
    <div class="panel-heading clearfix">
        <div class="col-xs-12">
            <div class="event-header pull-left">
                <h4><%- title %></h4>
                <span class="text-primary"><%- event_category_description %></span>
            </div>
            <div class="pull-right">
                <a href="/add/session/#quest=239" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Make a session"><span class="glyphicon glyphicon-plus"></span></a>

                <a href="../edit/event/<%- id %>" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                <a href="javascript:window.location = '/?redirect='+window.location.hash;" class="btn btn-sm btn-danger" data-toggle="confirmation" data-placement="top" data-title="Delete?" data-btn-ok-class="btn-danger btn-sm col-xs-12" data-btn-ok-label="Delete" data-btn-cancel-class="btn-default btn-sm col-xs-12" data-btn-cancel-label="Cancel" data-popout="true" data-original-title="" title=""><span class="glyphicon glyphicon-trash"></span></a>

            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12"><%- description %></div>
        </div>
    </div>
</div>